<div class="home-contain">
  <div class="home-top flex">
    <p>home works!</p>
    <!-- <section>
      <button mat-flat-button color="accent" (click)="runChildFunction()">Primary</button>
    </section> -->
    <button mat-raised-button color="accent" (click)="runChildFunction()">点击执行子组件中的方法</button>
    <app-demo1 [fatherRun]="fatherRun" [msg]="msg" #demo1></app-demo1>
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  </div>
  <div class="main-contain flex">
    <div class="left">
      <ul>
        <li>
          <a href="" [routerLink]="['/home/welcome']" routerLinkActive="lingactive">欢迎</a>
        </li>
        <li>
          <a href="" [routerLink]="['/home/setting']" routerLinkActive="lingactive">系统设置</a>
        </li>
        <li>
          <a href="" [routerLink]="['/home/learn']" routerLinkActive="lingactive">双向数据绑定</a>
        </li>
        <li>
          <a href="" [routerLink]="['/home/form']" routerLinkActive="lingactive">表单提交</a>
        </li>
      </ul>
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>