.nav-contain {
  background: #e0e0e0;
  margin-top: 20px;
  padding: 10px 20px;
}

a {
  display: inline-block;
  // width: 40px;
  margin-right: 20px;
  text-decoration: none;
}

.active {
  color: red;
}
