<div class="nav-contain">
  <a routerLink="/home" routerLinkActive="active">首页</a>
  <a routerLink="/product" routerLinkActive="active">产品</a>
  <a routerLink="/news" routerLinkActive="active">新闻</a>
  <a routerLink="/animation" routerLinkActive="active">动画</a>
  <a routerLink="/datapatch" routerLinkActive="active">组件传值</a>
  <a routerLink="/service" routerLinkActive="active">服务学习</a>
  <a routerLink="/lifecycle" routerLinkActive="active">生命周期</a>
  <a routerLink="/rxjslearn" routerLinkActive="active">rxjs学习</a>
  <a routerLink="/httpresuest" routerLinkActive="active">http请求</a>
  <a routerLink="/charts" routerLinkActive="active">图表使用</a>
  <a routerLink="/bill" routerLinkActive="active">账单</a>
</div>
<!--<mat-nav-list class="nav-contain">-->
<!--  <mat-list-item *ngFor="let link of links" class="nav-item">-->
<!--    <a matLine routerLink="{{link.path}}">{{ link.name }}</a>-->
<!--  </mat-list-item>-->
<!--</mat-nav-list>-->
